<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>smoke</string>
		<key>conditions</key>
		<string>smoke</string>
		<key>day</key>
		<array>
			<string>smoke</string>
			<string>smoke2</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>tstorm</string>
		<key>icon</key>
		<string>tstorm</string>
		<key>day</key>
		<array>
			<string>tstorm</string>
			<string>tstorm2</string>
			<string>tstorm3</string>
			<string>tstorm4</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>haze</string>
		<key>icon</key>
		<string>fog</string>
		<key>conditions</key>
		<string>haze</string>
		<key>day</key>
		<array>
			<string>haze</string>
			<string>haze2</string>
			<string>haze3</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>sleet</string>
		<key>icon</key>
		<string>sleet</string>
		<key>inherit</key>
		<string>snow</string>
	</dict>
	<dict>
		<key>name</key>
		<string>snow</string>
		<key>icon</key>
		<array>
			<string>snow</string>
			<string>sleet</string>
		</array>
		<key>conditions</key>
		<string>snow</string>
		<key>day</key>
		<array>
			<string>snow</string>
			<string>snow2</string>
			<string>snow3</string>
			<string>snow4</string>
		</array>
		<key>night</key>
		<array>
			<string>snow-night</string>
			<string>snow-night2</string>
			<string>snow-night3</string>
			<string>snow-night4</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>rainy</string>
		<key>icon</key>
		<string>rain</string>
		<key>day</key>
		<array>
			<string>umbrella2</string>
			<string>rain</string>
			<string>umbrella3</string>
			<string>umbrella4</string>
		</array>
		<key>night</key>
		<array>
			<string>rain-night3</string>
			<string>rain-night</string>
			<string>rain-night4</string>
			<string>rain-night2</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>overcast</string>
		<key>conditions</key>
		<string>overcast</string>
		<key>day</key>
		<array>
			<string>overcast2</string>
			<string>overcast</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>cloudy</string>
		<key>icon</key>
		<string>cloud</string>
		<key>day</key>
		<array>
			<string>clouds</string>
			<string>clouds2</string>
			<string>clouds3</string>
			<string>clouds4</string>
			<string>clouds5</string>
		</array>
		<key>night</key>
		<array>
			<string>clouds-night</string>
			<string>clouds-night2</string>
			<string>clouds-night3</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>clear</string>
		<key>icon</key>
		<string>clear</string>
		<key>day</key>
		<array>
			<string>clear</string>
			<string>clear2</string>
		</array>
		<key>night</key>
		<array>
			<string>clear-night</string>
			<string>clear-night3</string>
		</array>
	</dict>
</array>
</plist>
